<main class="py-5 mt-5">
  <div class="container">
    <h2 class="text-center fs-2">All Blogs</h2>
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="d-flex justify-content-center justify-content-md-start border-2"
        >
          <blog-card routerLink="/blogs/kfj"></blog-card>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <blog-card></blog-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <blog-card></blog-card>
      </div>
    </div>
  </div>
</main>
